@import "tailwindcss";
@import "swiper/css" layer(base);

:root {
  letter-spacing: -0.05em;
}

@theme {
  /* Palette */
  --color-*: initial;
  --color-black: #000000;
  --color-white: #f2f2f2;
  --color-gray: #e6e6e6;
  --color-grayblue: #526e87;
  --color-blue: #179cbd;
  --color-lightblue: #32d6ff;
  --color-yellow: #fcbe17;
  --color-red: #e04646;

  /* Breakpoints */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 430px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;

  --pad: 1.5em;
  --spacing-content-boundary: min(1280px, 100% - calc(var(--pad) * 1.25));
  --spacing-app-header: min(1200px, 100% - var(--pad));
  --spacing-fluid-width-1000: min(
    1000px,
    100% - calc(var(--pad) * 1.25)
  ); /* Typography */
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;

  --text-heading-1: clamp(3rem, 1.944rem + 4.504vw, 6rem); /* 60px -> 120px */
  --text-heading-2: clamp(2rem, 1.296rem + 3vw, 4rem); /* 40px -> 80px */
  --text-heading-3: clamp(1.5rem, 1.4rem + 1vw, 3rem); /* 30px -> 40px */
  --text-heading-4: clamp(
    1.25rem,
    0.648rem + 1.35vw,
    1.75rem
  ); /* 20px -> 40px */
  --text-heading-5: clamp(1.75rem, 1.71rem + 0.188vw, 2rem);
  --text-regular: clamp(1.125rem, 1.16rem + 0.38vw, 1.25rem);
  --text-button: clamp(0.875rem, 0.842rem + 0.132vw, 1rem);
  --text-small: clamp(0.75rem, 0.717rem + 0.132vw, 0.875rem);
  --text-tiny: clamp(0.6rem, 0.517rem + 0.132vw, 0.775rem);

  /* --- Z-index scale --- */
  --z-index-base: 0;
  --z-index-above: 10;
  --z-index-overlay: 200;
  --z-index-modal: 300;
  --z-index-menu: 400;
  --z-index-app-header: 500;
  --z-index-toast: 600;

  /* Durations */
  --transition-duration-blink: 0.15s;
  --transition-duration-fast: 0.3s;
  --transition-duration-normal: 0.5s;
  --transition-duration-slow: 0.75s;
  --transition-duration-turtle: 1s;

  --ease-swap: cubic-bezier(0.65, 0, 0.35, 1);
}

@layer base {
  body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--text-regular);
  }

  h1 {
    font-size: var(--text-heading-1);
  }

  h2 {
    font-size: var(--text-heading-2);
  }

  h3 {
    font-size: var(--text-heading-3);
  }

  h4 {
    font-size: var(--text-heading-4);
  }
  h5 {
    font-size: var(--text-heading-5);
  }

  svg {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility custom-underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--custom-underline-color, var(--color-grayblue));
  }
}

@utility content-boundary {
  width: var(--spacing-content-boundary);
  margin-inline: auto;
}

@utility bleed-grid {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    var(--spacing-content-boundary)
    minmax(0, 1fr);
}

@utility carousel-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
}

/* Partners Carousel Box */
@utility client-box {
  @apply shadow-[0_4px_4px_0] shadow-black/25 rounded-xl px-3 py-1.25 h-14 lg:h-18;
}

/* Partners Display Anim */
@utility animate-carousel-slide-x {
  animation-name: carousel-slide-x;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes carousel-slide-x {
  0%,
  45% {
    transform: translateX(0);
  }
  55%,
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

@utility animate-float {
  animation-name: float;
  animation-duration: var(--transition-duration-slow);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes float {
  0%,
  40% {
    transform: translateY(0px);
  }
  90%,
  100% {
    transform: translateY(40px);
  }
}

/* Reviews Anim */
@utility animate-marquee-x {
  animation-name: animate-marquee-x;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animate-marquee-x {
  to {
    transform: translateX(calc(-50% - 0.75rem));
  }
}

@utility team-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "header header"
    "tablist tablist"
    "image image"
    "name cta"
    "bio bio";
  gap: 1em;

  @variant sm {
    grid-template-areas:
      "header header"
      "tablist tablist"
      "image name"
      "image cta"
      "bio bio";
    gap: 1em;
  }

  @variant md {
    grid-template-columns: minmax(0, 7fr) minmax(0, 1fr) minmax(0, 10fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header tablist"
      "image name"
      "image bio"
      "image cta";
    align-items: start;
    gap: 0;
  }
}
@utility team-header {
  grid-area: header;
}

@utility team-tablist {
  grid-area: tablist;

  @variant md {
    align-self: center;
    grid-column-start: 3;
  }
}

@utility team-image {
  grid-area: image;
}
@utility team-name {
  grid-area: name;
  @variant md {
    grid-column-start: 3;
  }
}
@utility team-cta {
  grid-area: cta;
  @variant md {
    grid-column-start: 3;
  }
}
@utility team-bio {
  grid-area: bio;
  @variant md {
    grid-column-start: 3;
  }
}

/* scale and opacity effect on works slide */
.works-swiper {
  .swiper-slide {
    opacity: 0.6;
    transform: scale(0.9);
    transition: all 0.3s ease;
  }
  .swiper-slide-active,
  .swiper-slide-duplicate-active {
    opacity: 1;
    transform: scale(1);
  }
}
