@import "tailwindcss";

@theme {
  /* Palette */
  --color-*: initial;
  --color-black: #000000;
  --color-white: #f2f2f2;
  --color-grayblue: #526e87;
  --color-lightblue: #179cbd;
  --color-yellow: #fcbe17;

  /* Breakpoints */
  --breakpoint-xs: 280px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;

  --pad: 2em;
  --spacing-app-boundary: min(1440px, 100%);
  --spacing-app-header: min(920px, 100% - var(--pad));

  /* Typography */
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-white);
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
